<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <%= csrf_meta_tags %>
        <title>Runnable by FamaRunners</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/assets/manage.bundle.css">
    </head>
    <body>
        <% if logged_in? %>
            <div class="contain-to-grid">
                <nav class="top-bar" data-topbar role="navigation">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="/">Runnable</a></h1>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                        <ul class="right">
                            <li><a href="<%= url_for(:sessions, :logout) %>"><i class="fa fa-sign-out"></i></a></li>
                        </ul>

                        <ul class="left">
                            <li><a href="/manage/courses">Percursos</a></li>
                            <!--<li><a href="<%= url_for(:routes, :index) %>">Rotas</a>-->
                            </ul>
                        </section>
                    </nav>
                </div>
            <% end %>
            <%= yield %>
            <div class="alert-box-container">
                <ul>
                    <% flash.each do |key, value| %>
                        <li class="alert-box <%= key %>"><i class="alert-icon fa fa-<%= key %>"></i><%= value %></li>
                    <% end %>
                </ul>
            </div>
            <%= yield_content :scripts %>
            <script src="/assets/vendor.js"></script>
            <script src="/assets/manage.bundle.js"></script>
        </body>
    </html>
