.alert-box-container {
    bottom: 10px;
    font-size: 1.3rem;
    position: fixed;
    left: 10px;
}

.alert-box {
    border-radius: 3px;
    font-size: 0.8em;
    list-style-type: none;
    margin-bottom: 12px;
    padding: .8rem .8rem .8rem 0;
    min-width: 300px;
}

.alert-box > .alert-icon {
    display: block;
    float: left;
    font-size: 1.2em;
    line-height: 1.4;
    text-align: center;
    margin: -.8rem .8rem 0 0;
    padding: 0.8rem 0;
    width: 50px;
}

@each $class, $color in (success, $success-color), (message, $success-color), (alert, $alert-color), (error, $warning-color), (info, $info-color) {
    .alert-box.#{$class} {
        border: 1px solid darken($color, 10%);
        background: $color;
    }

    .fa-#{$class} {
        background: darken($color, 10px);
    }
}

.fa-alert:before {
    content: "\f06a";
}

.fa-message:before {
    content: "\f05a";
}

.fa-error:before {
    content: "\f057";
}

.fa-info:before,
.fa-success:before {
    content: "\f05a";
}
