// normalize
@import 'normalize.css/normalize';

// fontawesome
@import 'fontawesome';

// foundation
@import 'foundation';
@import 'foundation/scss/foundation/components/grid';
@import 'foundation/scss/foundation/components/buttons';
@import 'foundation/scss/foundation/components/forms';
@import 'foundation/scss/foundation/components/labels';
@import 'foundation/scss/foundation/components/tables';
@import 'foundation/scss/foundation/components/type';

body {
  background-color: #dedcd8;
}

.u-full-width {
  width: 100%;
}

.u-login {
  margin-top: 60px;
}

td input[type=text],
td input[type=number] {
  margin: 0;
}

small.error {
  background: none;
  color: $alert-color;
  font-style: normal;
  margin-top: -6px;
  padding: 0;
}

#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-directions {
  background: $white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  left: 20px;
  padding: 1rem;
  position: absolute;
  border-radius: 3px;
  top: 20px;
  width: 300px;
}

.map-directions input[type=submit],
.map-directions .button {
  margin-bottom: 0;
}

.top-bar,
.bottom-bar {
  background: rgba(255, 255, 255, .5);
  left: 0;
  padding: 6px 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.top-info,
.bottom-info {
  color: #133762;
  display: inline-block;
  font-size: 1.5rem;
}

.top-info-item {
  margin-left: 1em;
}

.bottom-bar {
  bottom: 0;
  padding: 0 0 3px 0;
  text-align: center;
}

top-athletes {
  box-shadow: 1px 1px 3px #ccc;
  color: #133762;
  min-width: 200px;
  position: absolute;
  top: 80px;
  z-index: 10;
}

top-athletes .item {
  background: rgba(255, 255, 255, .8);
  font-size: 0.9rem;
  list-style-type: none;
  margin-bottom: 1px;
  padding: 0.4em;
}

top-athletes .list {
  margin: 0;
}

top-athletes .info {
  display: inline-block;
  min-width: 120px;
}

top-athletes .list:after, top-athletes .list:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

top-athletes .list:after {
  border-bottom-color: rgba(255, 255, 255, .8);
  border-width: 8px;
  margin-left: -8px;
}

top-athletes .list:before {
  border-width: 11px;
  margin-left: -11px;
}

.sponsor-text {
  color: rgba(0, 0, 0, .5);
  font-size: 1rem;
}

.sponsor-icons {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

.sponsor-icon {
  margin-left: 1em;

  &:first-child {
    margin-left: 0;
  }
}

.u-offset-top {
  margin-top: 70px;
}

.uppercase {
  text-transform: uppercase;
}

table {
  border: 1px solid #ccc;
}

.circular {
  border-radius: 50%;
}

top-athletes .circular {
  margin-bottom: 3px;
  width: 20px;
}

.athlete-map {
  height: 400px;
}

.image-marker-overlay {
  p {
    background: rgba(0, 0, 0, .5);
    border-radius: 12px;
    color: whitesmoke;
    font-size: .8rem;
    margin-bottom: 6px;
    padding: 3px 0;
    position: relative;

    &:after {
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: rgba(0, 0, 0, .5) transparent transparent transparent;
      content: ' ';
      position: absolute;
      right: 23px;
      bottom: -5px;
    }
  }

  font-size: .8rem;
  position: absolute;
  text-align: center;
  width: 70px;
}

h1 .circular {
  margin-top: -10px;
}

.achievement {
  bottom: 28px;
  height: 150px;
  position: absolute;
  right: 10px;
  width: 147px;
  z-index: 20;
}

.hide {
  display: none;
}
