// normalize
@import 'normalize.css/normalize';

// fontawesome
@import 'fontawesome';

// foundation
@import 'foundation';
@import 'foundation/scss/foundation/components/grid';
@import 'foundation/scss/foundation/components/buttons';
@import 'foundation/scss/foundation/components/forms';
@import 'foundation/scss/foundation/components/labels';
@import 'foundation/scss/foundation/components/tables';
@import 'foundation/scss/foundation/components/type';
@import 'foundation/scss/foundation/components/top-bar';

@import 'alert-box';

body, html {
  height: 100%;
}

.u-full-width {
  width: 100%;
}

.u-login {
  padding-top: 60px;
}

td input[type=text],
td input[type=number] {
  margin: 0;
}

small.error {
  background: none;
  color: $alert-color;
  font-style: normal;
  margin-top: -6px;
  padding: 0;
}

map {
  display: block;
  position: relative;
}

#map-canvas {
  height: 40vh;
  margin: 0;
  padding: 0;
}

.map-directions {
  background: $white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  left: 20px;
  padding: 1rem;
  position: absolute;
  border-radius: 3px;
  top: 20px;
  width: 300px;
}

.map-directions input[type=submit],
.map-directions .button {
  margin-bottom: 0;
}

button,
input[type=submit] {
  outline: 0;
}
