<top-bar></top-bar>
<top-athletes></top-athletes>
<div class="row">
    <div class="small-12 columns u-offset-top">
        <h1 class="uppercase">Participantes</h1>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th width="50"></th>
                    <th>Atleta</th>
                    <th>Distância</th>
                    <th>Associar</th>
                </tr>
            </thead>
            <tbody>
                <% @athletes.each do  |athlete| %>
                    <tr>
                        <td>
                            <a href="<%= url_for(:athletes, :show, athlete.id) %>">
                                <img class="circular" src="<%= athlete.image %>" alt="Atleta">
                            </a>
                        </td>
                        <td><a href="<%= url_for(:athletes, :show, athlete.id) %>"><%= athlete.name %></a></td>
                        <td><%= number_with_delimiter(athlete.distance.total.to_f, separator: ',') %></td>
                        <td><facebook-login user="<%= athlete.id %>" linked="<%= athlete.linked? %>"></facebook-login></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
