<top-bar></top-bar>
<top-athletes></top-athletes>
<div class="row">
    <div class="small-12 columns u-offset-top">
        <h1 class="uppercase">
            <a href="<%= @athlete.url %>"><img class="circular" src="<%= @athlete.image %>" alt="<%= @athlete.name %>"></a>
            <%= @athlete.name %>
            <small>
                <i class="fa fa-check-circle-o"></i>
                <%= number_with_precision(@athlete.distance.total, precision: 2, separator: ',') %> km
                <% if @athlete.linked? %>
                    <a href="<%= @athlete.url %>" title="Ver atleta no Facebook" target="_blank"><i class="fa fa-external-link"></i></a>
                <% end %>
            </small>
        </h1>
    </div>
    <div class="small-12 columns athlete-map">
        <map entries="<%= @athlete.id %>"></map>
    </div>
</div>
