<div class="row u-login">
    <div class="small-12 medium-6 columns small-centered">
        <% form_tag url_for(:sessions, :login) do %>
            <%= email_field_tag :email, class: 'radius', autofocus: true %>
            <%= password_field_tag :password, class: 'radius' %>
            <%= submit_tag 'Login', class: 'button radius expand' %>
        <% end %>
    </div>
</div>
