<% content_for :scripts do %>
    <% if Padrino.env == :production %>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&language=pt-PT"></script>
    <% else %>
        <script src="https://maps.googleapis.com/maps/api/js?language=pt-PT"></script>
    <% end %>
<% end %>
<div class="row">
    <div class="small-12 columns">
        <map></map>
    </div>
</div>
