<top-bar></top-bar>
<top-athletes></top-athletes>
<map></map>
<div class="bottom-bar">
    <div class="row">
        <div class="small-12 columns">
            <div class="bottom-info">
                <ul class="sponsor-icons">
                    <li class="sponsor-icon">
                        <a href="http://status-fitness.com" title="Status - Health & Fitness Club">
                            <img src="/assets/status-logo.png" alt="Status Logo">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="achievement hide">
    <img src="/assets/end.png" alt="Achievement">
</div>
