<div class="row">
    <div class="small-12 columns">
        <h1>Percursos</h1>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>De</th>
                    <th>Até</th>
                    <th>Distância</th>
                </tr>
            </thead>
            <tbody>
                <% @courses.each do |course| %>
                <tr>
                    <td><a href="<%= url_for(:entries, :show, course.id) %>"><%= course.from %></a></td>
                    <td><%= course.to %></td>
                    <td><%= course.distance %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
