<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <%= csrf_meta_tags %>
        <title>Runnable by FamaRunners</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/assets/app.bundle.css">
    </head>
    <body>
        <%= yield %>
        <% if Padrino.env == :production %>
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&language=pt-PT"></script>
        <% else %>
            <script src="https://maps.googleapis.com/maps/api/js?language=pt-PT"></script>
        <% end %>
        <script src="/assets/vendor.js"></script>
        <script src="/assets/app.bundle.js"></script>
     </body>
</html>
